.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-container {
  width: 80%;
  height: 10vh;
  border-style: solid;
  border-color: blue;
  background-color: #222;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
font-size: 35px;
color:white;
}

.profile-photo {
  height: 100%;
  width: 12%;
  border-radius: 8px;
  margin-left: 10%;
}

.pokemon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
}

.pokemon-item {
  height: 10%;
  width: 10%;
}